<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imkalpesh.stimulus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.LessonListActivity"
            android:screenOrientation="nosensor"/>

        <activity android:name=".ui.activity.GridActivity"
            android:screenOrientation="nosensor"/>

        <activity android:name=".ui.activity.QuotesListActivity"
            android:screenOrientation="nosensor"/>

        <activity android:name=".ui.activity.DashboardActivity"
            android:screenOrientation="nosensor"/>

        <activity android:name=".ui.activity.SplashActivity"
            android:screenOrientation="nosensor">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4932030229664746~5203344775" />
    </application>

</manifest>